<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>デッキPDF作成フォーム</title>
    <script type="text/javascript">
      // Flaskから渡された変数をJavaScriptで受け取る
      window.onload = function() {
          var showAlert = {{ alert_message|tojson }};
          if (showAlert) {
              alert("存在しないデッキコードです！");
          }
      }
    </script>
  </head>
  <body>
    <h1>デッキPDFファイル作成</h1>

    <form id="create-pdf-form" action="/create-pdf" method="post">
      <label for="deckcord">デッキコード:</label>
      <input
        type="text"
        id="deckcord"
        name="deckcord"
        placeholder="デッキコードを入力"
        required
      />
      <button type="submit">PDF作成</button>
    </form>
  </body>
</html>
